In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [23]:
df = pd.read_excel('/content/sample_data/imputed_numerical.xlsx')

In [24]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,.imp,.id,RainTomorrow.1
0,12/1/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.1,8.0,NaN,16.9,21.8,No,2,0,1,2
1,12/2/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1007.8,NaN,NaN,17.2,24.3,No,2,0,2,2
2,12/3/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1008.7,NaN,2.0,21.0,23.2,No,2,0,3,2
3,12/4/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1012.8,NaN,NaN,18.1,26.5,No,2,0,4,2
4,12/5/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,2,0,5,2

In [25]:
df.shape

(473168, 26)

In [26]:
df['RainTomorrow'].unique()

array([2, 1, 3])

In [27]:
df['RainTomorrow.1'].unique()

array([2, 1, 3])

In [28]:
df = df.drop(['RainTomorrow.1', '.imp', '.id', 'Date', 'Location'], axis=1)

In [30]:
df.shape

(473168, 21)

In [31]:
df['Evaporation'].isna().sum().sum()

99316

In [32]:
df['Sunshine'].isna().sum().sum()

106361

In [10]:
#numerical_cols = df.select_dtypes(include=np.number).columns.tolist()
#categorical_cols = df.select_dtypes('object').columns.tolist()

In [34]:
df_numerical = df[['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainTomorrow',
 ]]

In [35]:
df_categorical = df[['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']]

In [12]:
categorical_cols

['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [13]:
df = df[numerical_cols].dropna()

In [14]:
df.shape

(349416, 20)

In [15]:
df['Evaporation'].isna().sum().sum()

0

In [16]:
df[numerical_cols].isna().sum().sum()

0

In [18]:
df = MinMaxScaler().fit_transform(df[(numerical_cols)])

In [20]:
df.columns

AttributeError: ignored

In [19]:
categorical_cols

['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [ ]:
df = OneHotEncoder(sparse=False, handle_unknown='ignore').fit_transform(df[(categorical_cols),])

In [ ]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow,.imp,.id,RainTomorrow.1
10513,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,2,0,6050,2
10514,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,2,1,6050,2
10515,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,2,2,6050,2
10516,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,2,3,6050,2
10517,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,2,4,6050,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469820,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,2,1,142303,2
469821,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,2,2,142303,2
469822,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,2,3,142303,2
469823,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,2,4,142303,2
469824,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,2,5,142303,2